<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人财务管理系统</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">个人财务管理系统</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>存入</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>取出</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>归档</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        郑雁昇
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <table class="ui compact teal table">
            <thead>
            <tr>
                <th></th>
                <th>存入金额</th>
                <th>取出金额</th>
                <th>存入金钱时间</th>
                <th>取出金钱时间</th>
                <th>剩余金额</th>
                <th>备注</th>
                <th>操作</th>
                <th><a th:href="@{/admin/record/excel}">打印</a></th>
            </tr>
            </thead>
            <tbody>
                    <tr th:each="record,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${record.inputSum}">存入金钱</td>
                        <td th:text="${record.outputSum}">取出金钱</td>
                        <td th:text="${#dates.format(record.inputTime, 'yyyy/MM/dd HH:mm:ss')}">存入金钱时间</td>
                        <td th:text="${#dates.format(record.outputTime, 'yyyy/MM/dd HH:mm:ss')}">取出金钱时间</td>
                        <td th:text="${record.sum}">剩余金额</td>
                        <td th:text="${record.remark}">备注</td>
                        <td>
                            <a href="#" th:href="@{/admin/record/{id}/delete(id=${record.id})}" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>

            </tbody>
            <tfoot>
            <tr>
                <th colspan="7" >
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/record(page=${page.number}-1)}" class="  item" th:unless="${page.first}">上一页</a>
                        <a th:href="@{/admin/record(page=${page.number}+1)}" class=" item" th:unless="${page.last}">下一页</a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
</body>
</html>